.button{
  background-color: #E62129;
  border-radius: 25px;
  width: fit-content;
  padding: 2px 8px 5px 5px;
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}


.navbar_right{
  display: none;
}

.cursor{
  cursor: pointer;
}

.navbar_righthidden{
  flex-direction: column;
 
  align-items: center;
  background:#fff;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
}

.navbar_righthidden li{
  display: block;
  padding: 15px 0;

}




.tgl{
  color: #E62129;
  font-weight: bold;
  font-size: 25px;
}
.main {
  padding: 30px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tambahMarginTop{
  margin-top: 30px;
}
.kotak{
  background-color: #E62129;
  padding: 15px 50px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
}

.kotak:hover{
  color: white;
}

.skeletontext{
  background: #ddd;
  width: 79%;
  height: 275px;
  margin: 20px 5px;
  border-radius: 4px;
  margin-left: 180px;
}

.skeletontitle{
  background: #ddd;
  width: 78%;
  height: 40px;
  margin: 20px 10px;
  border-radius: 4px;
  margin-left: 167px;
  margin-top: 25px;
}
.skeletontitle2{
  background: #ddd;
  width: 99%;
  height: 110px;
  margin: 20px 35px;
  border-radius: 4px;
  margin-left: 0px;
}

.putih{
  color: white;
}

.skeletontext2{
  background: #ddd;
  width: 80%;
  height: 500px;
  margin: 20px 40px;
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 15px;
}
.skeletonnavbar{
  background: #ddd;
  width: 67%;
  height: 98px;
  border-radius: 4px;
  margin-top: 25px;
}  
.skeletonnavbar2{
  background: #ddd;
  width: 82%;
  height: 98px;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 55px;
}
  .col_5{
  width: 68%;
}
.col_6{
  width: 32%;

}

.single {
    padding: 2px 16px;
    background-color: rgb(248, 248, 248);
    display: block;
   
    border-left: 8px solid #E62129;
 
    margin: 20px 0px;
    

}
.single1 {
  padding: 2px 16px;
  background-color: #E62129;
  display: block;
  color: white;
  border-radius: 15px;
 text-align: center;
  margin: 20px 0px;
  

}

.single_sidebar{
  padding: 2px 2px;
  
    display: block;
    font-weight: bold;
    border-bottom: 2px solid rgb(184, 22, 22);
    width: 100%;
    
 
    margin: 10px 0px;
}
.li{
    list-style-type: none;
}

.single:hover{
    border-left: 8px solid black;
}

.coba{
  width: 350px;
  margin-bottom: 50px;
}

.coba2{
  width: 350px;
  height: 200px;
}

.putih{
padding: 40px;
}

.flexing{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.kotak{
  background-color: #E62129;
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
}
.kotak:hover{
  color: white;
}



.navbar{
   width: auto;
    height: 80px;
    position:sticky;
    top: 0;
    background: #E62129;
    z-index: 1;
  }
  
  .navbar_container{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar_left_logo img{
    width: 400px;
  }
  
  .navbar_right{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
  }
  
  .navbar_right li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 0 20px;
   
  }

  .navbar_right li{
      border-radius: 20px;
      padding: 10px 0;
     
  }

  .navbar_right li:hover{
    background-color: #eb4d52;
}

.container{
    width: 1200px;
    margin : 0 auto;
  
    
  }

  .roundKotak{
    background-color: #E62129;
    border-radius: 20px;
    width: 600px;
    align-items: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  padding-bottom: 50px;
  }

  .delete{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
  }

  .sidebar{
    margin-left: 30px;
    
  }

  .loginbox {
    position: absolute;
    top: 120%;
    left: 39%;
    width: 311px;
    padding: 40px;
    background-color: #E62129;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  
.loginbox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}


.loginbox .userbox {
  position: relative;
}

.loginbox .userbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.loginbox .userbox label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.loginbox .userbox input:focus ~ label,
.loginbox .userbox input:valid ~ label {
  top: -20px;
  left: 0;
  color:snow;
  font-size: 12px;
}

.loginbox form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: snow;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.loginbox button:hover {
  background: snow;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px snow,
              0 0 25px snow,
              0 0 50px snow,
              0 0 100px snow
}

.loginbox button span {
  position: absolute;
  display: block;
}

.loginbox button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, snow);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.loginbox button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, snow);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.loginbox button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, snow);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

  .sidebar_title{
    margin-left: 10px;
  }

  .data{
    width: 100%;
  }

  .date{
    background-color: #E62129;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

 .header{
    padding: 10px 16px;
    background-color: #E62129;
   
   width: fit-content;
    border-left: 8px solid black;
    color: white;
    

 } 

 .header1{
  padding: 10px 16px;
  margin: 20px 59px;
  color: black;
 }

 .single img{
   margin-top: 25px;
   width: 220px;
 }
 .row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}



 .col_2{
   width: 70%;
 }

 .col_22{
  width: 70%;
}

 .col_1{
   width: 30%;
 }

 .col11{
   width: 30%;
 }

 .col_3{
   width: 20%;
 }

 .col_4{
   width: 80%;
 }
 .content{
     width: auto  ;
     text-align: justify;
 }
 .content1{
  margin: 0 100px;
  text-align: justify;
}

.day{
  font-size: 32px;
}

 .content img{
    width: 250px;
 }
 .title{
   margin-left: 20px;
 }

 @media (max-width: 1024px){
  .navbar{
    width: 1200px;
  }
  .col_2{
    width: 65%;
  }
  
  .col_1{
    width: 25%;
  }

 

  .row{
  justify-content: center;
  }
 }

 @media (max-width: 768px){
  .navbar{
    width: 768px;
  }

  .container{
    width: 768px;
    margin : 0 auto;
  }

  .content1{
    margin: 0;
   
  }
  

  .day{
    font-size: 20px;
  }

  .month{
    font-size: 10px;
  }
  .sidebar_title{
    font-size: 12px;
  }

  .date{
    border-radius: 5px;
  }
  .button{
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .single img{
    width: 90px;
  }
  .navbar_left_logo img{

  
    margin-left: 50px;
  }
  .navbar_righthidden{
    width: 768px;
    box-shadow: 10px 10px 10px grey;
  }
  
  .toggle{
    position: fixed;
   
    background: #E62129;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;  
    padding-top: 12px;
    margin-left: 10px;
   
   }

   .header{
     margin-top: 20px;
   }

  
   
   
 }

 @media (max-width: 425px){
.header1{
  margin: auto;
  font-size: 10px;
  }
  .toggle{
 position: fixed;

 background: #E62129;
 color: #fff;
 width: 50px;
 height: 50px;
 cursor: pointer;
 border-radius: 50%;
 text-align: center;
 margin-top: 18px;
 
 padding-top: 12px;
 margin-left: 10px;

}

  .item{
    margin-bottom: 20px;
  }

  .container{
    width: 425px;
    margin : 0 auto;
  }

  .navbar_righthidden{
    width: 425px;
  }

  .navbar{
    width: 425px;
  }

  .sidebar_comp{
    display: none;
  }

  .single img{
  width: 80px;
  }

  .col_1{
    display: none;
  }

  .skeletontext{
  margin-left: 70px;
  width: 100%;
  height: 200px;
  }
  
 
  

  .header{
    font-size: 18px;
    width: fit-content;
    margin-right: 50px;
  }

.content{
  display: none;
  margin: auto; 
}

.title{
  font-size: 18px;
}

.single h3 {
  font-size: 16px;
}

.navbar{
 height: 70px;
}
.navbar_container{
 height: 40px;
}
.navbar_right li a {

  font-size: 16px;

 
}

.navbar_left_logo img{
  width: 250px;
  margin-top: 35px ;
  margin-left: 25px;
}
.single{
  margin: 5px 5px;
}
.skeletontitle{
  display: none;
}
.content1{
  margin: 0 15px;
  font-size: 16px;
 
}

.tgl{
  font-size: 15px;
}
.itempadding{
  padding-right: 20px;
  padding-left: 20px;
}

.col_2{
  width: 90%;
}

.col_22{
  padding-left: 20px;
}

.centering{
  width: 425px;
}

.loginbox {
  position: absolute;
  top: 50%;
  left: 10%;
  
}
 }
 @media (max-width: 375px){
  .navbar{
    width: 375px;
  }

  .roundKotak{
    width: 300px;
  }

  .toggle{
    position: fixed;
   
    background: #E62129;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    margin-top: 18px;
    
    padding-top: 12px;
    margin-left: 10px;
   
   }
  .container{
    width: 375px;
    margin : 0 auto;
  }
  .navbar_righthidden{
    width: 375px;
  }
 
 }

 @media (max-width: 320px){
  .navbar{
    width: 320px;
  }

  .toggle{
    position: fixed;
   
    background: #E62129;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    margin-top: 18px;
    
    padding-top: 12px;
    margin-left: 10px;
   
   }
  .container{
    width: 320px;
    margin : 0 auto;
  }
  .navbar_righthidden{
    width: 320px;
  }
  .loginbox {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 311px;
    padding: 40px;
    background-color: #E62129;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
}



